@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #efe2dd;
}

.personal-portfolio {
  background-color: #181e30;
  margin: 50px;
  height: 200vh;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
}

.main-section {
  display: flex;
  flex-direction: row;
}

.main-section-img {
  border-radius: 200px;
  padding: 15px;
  border: 1px solid #f7b843;
}

.main-section-img img {
  background-color: #f7b843;
  border-radius: 200px;
  padding-top: 90px;
  height: 300px;
  width: 240px;
  object-fit: contain;
  /* box-shadow: inset 0px 0px 0px 15px rgb(0 0 0 / 0.2);
  box-shadow: rgb(0 0 0 / 0.2) 0px 0px 0px 2px inset,
    rgb(0 0 0 / 0.5) 10px -10px 0px -3px; */
}

.main-section-content {
  display: flex;
  flex-direction: column;
  margin-left: 100px;

  justify-content: space-between;
}

.main-content-top {
  color: #f7b843;
  border-bottom: 1px solid #f7b843;
  font-size: small;
  padding: 5px;
  width: 80%;
  text-transform: uppercase;
}

.main-content-head {
  color: #f1f1f1;
  font-size: 20px;
  width: 80%;
}

.main-content-head h1 {
  padding: 0;
  margin: 0;
}

.main-content-desc {
  color: #f1f1f1;
  width: 80%;
  font-size: small;
}

.main-contact-me {
  display: flex;
  flex-direction: row;
}

.contact-me-button {
  background-color: #f7b843;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  color: #181e30;
  font-weight: 600;
  margin-right: 50px;
}

.contact-me-other {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-me-other i {
  margin-right: 30px;
  color: #f1f1f1;
  font-size: x-large;
}

.navbar {
  margin-bottom: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.3px solid #5f5d5d;
  color: #f1f1f1;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
}

.navbar-menu ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.navbar-menu ul li {
  margin-right: 20px;
  --s: 0.1em; /* the thickness of the line */
  --c: #f7b843; /* the color */

  color: #f1f1f1;
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #000 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}

.navbar-menu ul li:hover {
  --_p: 100%;
}

.project-section {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.project-section h1 {
  color: #f1f1f1;
  font-size: 2em;
  text-align: center;
  margin-bottom: 60px;
}

.project-section-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-div {
  display: flex;
  flex-direction: column;
}

.project-div a img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 15px;
}

.project-div a img:hover {
  box-shadow: #f7b843 0px 0px 0px 2px, #f7b843 0px 4px 6px -1px,
    #f7b843 0px 1px 0px inset;
}

.project-content {
  display: flex;
  flex-direction: column;
}

.project-content-top {
  color: #a9a8a6;
  margin-bottom: 5px;
  font-size: small;
}

.project-content-bottom {
  color: #f1f1f1;
}
